.animation-container {
  display: flex;
  justify-content: center;
  animation: slideDown 3s ease;
  transform: translateY(0);
}

.simple-shape {
    width: 2.6rem;
    height: 2.6rem;
    display: inline-block;
    margin: 37px;
    border-radius: 50%;
  }
  
  .one {
    background-color: rgb(119, 216, 132);
    -webkit-animation: simple-scale 4s 4s linear infinite alternate;
    animation: simple-scale 2s 2s linear infinite alternate;
  }
  
  .two {
    background-color: white;
    -webkit-animation: simple-move 1s 1s linear infinite alternate;
    animation: simple-move 0.7s 0.7s linear infinite alternate;
  }
  
  .three {
    background-color: rgb(119, 216, 132);
    -webkit-animation: simple-scale 1s 1s linear infinite alternate;
    animation: simple-scale 0.5s 0.5s linear infinite alternate;
  }
  
  .four {
    background-color: white;
    -webkit-animation: simple-move 2s 2s linear infinite alternate;
    animation: simple-move 2s 2s linear infinite alternate;
  }
  
  @-webkit-keyframes simple-scale {
    100% {
      -webkit-transform: scale(2);
    }
  }
  
  @keyframes simple-scale {
    100% {
      transform: scale(2);
    }
  }
  
  @-webkit-keyframes simple-move {
    from {
      transform: translateX(-2.5rem); /* Start off-screen to the right */
    }
    to {
      transform: translateX(2.5rem);
    }
  }
  
  @keyframes simple-move {
    from {
      transform: translateX(-2.5rem); /* Start off-screen to the right */
    }
    to {
      transform: translateX(2.5rem);
    }
  }

  @-webkit-keyframes slideRight {
    from {
      transform: translateX(-100%); /* Start off-screen to the right */
    }
    to {
      transform: translateX(0); /* Move to the original position */
    }
  }

  @keyframes slideRight {
    from {
      transform: translateX(-100%); /* Start off-screen to the right */
    }
    to {
      transform: translateX(0); /* Move to the original position */
    }
  }

  @-webkit-keyframes slideDown {
    from {
      transform: translateY(200%); /* Start off-screen to the right */
    }
    to {
      transform: translateY(0); /* Move to the original position */
    }
  }

  @keyframes slideDown {
    from {
      transform: translateY(200%); /* Start off-screen to the right */
    }
    to {
      transform: translateY(0); /* Move to the original position */
    }
  }