.lyrics {
  display: flex;
  flex-direction: column;
}
.previous {
    background-color: white;
    padding: 1rem;
    color: black;
    font-size: 1.5rem;
    margin: 0;
}

.translated-previous {
    background-color: rgb(119, 216, 132);
    padding: 1rem;
    color: white;
    font-size: 1.5rem;
    margin: 0;
}

.upcoming {
    background-color: white;
    padding: 1rem;
    color: black;
    font-size: 1.5rem;
    margin: 0;
    margin-top: 5rem;
}

.translated-upcoming {
    background-color: rgb(119, 216, 132);
    padding: 1rem;
    color: white;
    font-size: 1.5rem;
    margin: 0;
}

.current {
    /* background-color: white; */
    padding: 1rem;
    color: white;
    font-size: 2.5rem;
    margin: 0;
    margin-top: 0rem;
}

@media screen and (max-width: 1000px) {
  .current {
    font-size: 1.5rem; 
    padding: 0;
    height: 6rem;
  }
}

.translated-current {
    /* background-color: rgb(119, 216, 132); */
    padding: 1rem;
    color: rgb(119, 216, 132);
    font-size: 2.5rem;
    margin: 0;
}

@media screen and (max-width: 1000px) {
  .translated-current {
      font-size: 1.5rem; 
      padding: 0;
      height: 6rem;
  }
}

.language-dropdown {
    display: flex;
    justify-content: center;
    animation: slideUp 3s ease;
    transform: translateY(0);
    z-index: 3;
}

.language-dropdown select {
    padding: 0.4rem;
    border: 4px solid rgb(119, 216, 132);
    border-radius: 40px;
    background-color: white;
    color: black;
    font-size: 1.2rem;
    font-weight: 400;
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    width: 9rem;
    cursor: pointer;
    text-align: center;
    margin-top: 1.5rem;
  }

  .language-dropdown select:hover {
    background-color: rgb(119, 216, 132);
    color: white;
  }

  .language-dropdown select:focus {
    outline: none;
  }

  .lang {
    background-color: white;
    color: black;
  }
  
  @keyframes slideUp {
    from {
      transform: translateY(-250%); /* Start off-screen to the right */
    }
    to {
      transform: translateY(0); /* Move to the original position */
    }
}
