.main-wrapper {
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.now-playing-cover {
    margin-bottom: 1rem;
    border-radius: 50%;
    max-width: 280px;
}

@media screen and (max-width: 1000px) {
    .now-playing-cover {
        max-width: 100px; 
    }
}

.now-playing-artist {
    color: rgb(119, 216, 132);
}

.all-btns {
    display: flex;
    flex-direction: column;
}

.btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
}

.btn-controls {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.3rem;
    margin: 1rem;
    /* opacity: 70%; */
    color: black;
    background-color: white;
    /* border: 4px solid rgb(119, 216, 132); */
    border-radius: 50%;
}

.btn-controls:hover {
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
    padding: 1.3rem;
    margin: 1rem;
    opacity: 100%;
    background-color: rgb(119, 216, 132);
    border-color: rgb(119, 216, 132);
}

.btn-controls:focus {
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
    padding: 1.3rem;
    margin: 1rem;
    opacity: 100%;
    background-color: rgb(119, 216, 132);
    border-color: rgb(119, 216, 132);
    outline: none;
}

.play-button {
    min-width: 105.69px;
}