.name {
    margin-bottom: 0;
}

.all {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.everything {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.lyrics-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 10%;
    padding: 4rem;
    width: 30rem;
    max-height: 300px; 
}

