.name {
    margin-bottom: 0;
}

.all {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.everything {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.everything.active {
    animation: slideIn 3s ease;
    transform: translateX(0);
}

.lyrics-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 4rem;
    width: 35rem;
    max-height: 300px; 
}

/* .lyrics-container.active {
    animation: slideIn 1.3s ease;
    transform: translateX(0);
} */

@keyframes slideIn {
    from {
        transform: translateX(100%); /* Start off-screen to the right */
    }
    to {
        transform: translateX(0); /* Move to the original position */
    }
}