.btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-controls {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.7rem;
    margin: 1rem;
    opacity: 70%;
    color: black;
    background-color: rgb(119, 216, 132);
    border-radius: 50%;
}

.btn-controls:hover {
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
    padding: 1.7rem;
    margin: 1rem;
    opacity: 100%;
    background-color: rgb(119, 216, 132);
    border-color: rgb(119, 216, 132);
}

.play-button {
    min-width: 105.69px;
}

.main-wrapper {
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.now-playing-cover {
    margin-bottom: 1rem;
    border-radius: 50%;
    max-width: 280px;
}

.now-playing__artist {
    color: rgb(119, 216, 132);
}

.everything {
    display: flex;
    flex-direction: column;
}

.search-component-container {
    margin-top: 15%;
    display: flex;
    flex-direction: column;
}

.song {
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
}

.album-art {
    max-height: 50px;
    max-width: 50px;
    margin-right: 20px;
    border-radius: 7%;
}

.song-btn {
    max-height: 40px;
    max-width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    opacity: 70%;
    color: black;
    background-color: rgb(119, 216, 132);
    margin-left: auto;
}

.song-btn:hover {
    opacity: 100%;
    color: white;
}

.track-info {
    color: white;
    display: flex;
    flex-grow: 1;
    margin-right: 20px;
}

.track-info h4 {
    margin: 0;
  }